*.out
*.log
*.png
*~
*#
*.tmp
kyoto*
.DS_Store
*.pyc
*.RData
HistoryDiss
HistoryDiss/*
*.tar.gz
tmp.cron
setup.sh
startup.sh
etc/numpy-1.6.2
oldfiles
files
onefile.txt
downloads
newspapers.rdf
extensions
bookworm.cnf
.#
tmp.cron tmp.tsv tmp.txt
tmp.txt
.#*
build
old/*
*~
APIkeys
#*
.#*
.DS_Store
*.cgi
migration.py
shipping.py
genderizer*
*.pyc

